<!DOCTYPE html>
<html lang="pt-br" ng-app="bravi" ng-controller="ContactsCtrl">

  <head>
    <meta charset="utf-8">
    <title>Bravi - Contact List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/bravi-logo.png" />
    <script src="js/lib/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body>

    <div class="jumbotron">

      <div class="logo">
        <img src="images/bravi.png" alt="">
      </div>

      <div class="list-container">
        <h1 class="form-title">Contact list</h1>

        <table id="contacts">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>whatsapp</th>
            <th></th>
            <th></th>
          </tr>

          <tr ng-repeat="contact in contacts">
            <td>{{ contact.id }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.gender }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.whatsapp }}</td>
            <td><button class="btn btn-secondary" ng-click="editContatct(contact)">Edit</button></td>
            <td><button class="btn btn-danger" ng-click="removeContatct(contact)">Delete</button></td>
          </tr>

        </table>
      </div>

      <div class="form-container">
        <h1 class="form-title">Register a new contact</h1>

        <form method="post">

          <input class="form-control" type="text" name="name" ng-model="contact.name" placeholder="enter contact name..."><br />

          <select class="form-control selct" ng-model="contact.gender">
            <option value="">select gender</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select><br />

          <input class="form-control" type="text" ng-model="contact.phone" placeholder="enter the phone number..."><br />

          <input class="form-control" type="text" ng-model="contact.email" placeholder="enter the email..."><br />

          <input class="form-control" type="text" ng-model="contact.whatsapp" placeholder="enter the whatsapp..."><br />

          <button class="btn btn-primary full" ng-click="addContatct(contact)" ng-if="save">Save</button><br />

          <button class="btn btn-primary full" ng-click="saveContactChanges(contact)" ng-if="edit">Save changes</button><br />

        </form>
      </div>
    </div>
  </body>

</html>
