body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
  width: 80%;
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /*background-color: pink;*/
}

.logo {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.logo img {
  width:340px;
  height: auto;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.center {
  display: table;
  margin: 0 auto;
}

.form-title {
  display: table;
  margin: 3 auto;
  font-family: 'Oswald', sans-serif;
  color: #5e5f60;
}

.form-control {
  display: block;
  width: 300px;
  height: 34px;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selct {
  width: 312px;
  height: 40px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.full {
  display: block;
  width: 312px;
  height: 40px;
  padding: 3px 6px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-danger {
  color: #fff;
  background-color: #a80b2b;
  border-color: #5e0114;
}

.btn-secondary {
  color: #fff;
  background-color: #077772;
  border-color: #044c49;
}

.msg-present {
  padding: 20px;
}

.bold {
  color: #f326b4;
  font-weight: 700;
}

.jumbotron {
  width: 500px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#contacts {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-collapse: collapse;
  width: 100%;
}

#contacts td, #contacts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#contacts tr:nth-child(even){background-color: #f2f2f2;}

#contacts tr:hover {background-color: #ddd;}

#contacts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}

.table-area {
  margin-top: 14px;
}
